################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/Moderation/.vs/Moderation
/Moderation/obj
